
{% extends 'catalog/homepage.html' %}

{% block content %}
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">

            <div class="col-6">
                <div class="card-header">
                    <h2 class="card-title">
                        Добавление рассылки
                    </h2>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
                <div class="card-footer"></div>
            </div>
        </form>
    </div>
{% endblock %}
