{% extends 'catalog/homepage.html' %}
{% load my_tags %}
{% block content %}
    <div class="col-12 mb-5">
        {% if user.is_authenticated %}
            <a class="btn btn-outline-primary" href="{% url 'catalog:mailing_create' %}">Добавить рассылку</a>
        {% endif %}
    </div>
    {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">

                <div class="card-body">
                    <p>{{ object.title }}</p>
                </div>
                <div class="btn-group-center">
                    {% if perms.catalog.delete_blogpost %}
                        <a href="{% url 'catalog:mailing_delete' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-danger">Удалить</a>
                    {% endif %}
                    {% if perms.catalog.change_blogpost %}
                        <a href="{% url 'catalog:mailing_update' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-success">Редактировать</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
