
{% extends 'catalog/homepage.html' %}

{% block content %}
    <div class="col-12">
        <form class="row" method="post" enctype="multipart/form-data">

            <div class="col-6">
                <div class="card-header">
                    <h2 class="card-title">
                        Добавление поста
                    </h2>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
                <div class="card-footer"></div>
            </div>
        </form>
    </div>
{% endblock %}
{#{% load my_tags %}#}
{#{% block content %}#}
{#    {% for object in object_list %}#}
{#            <div class="col-3">#}
{#                <div class="card mb-4 box-shadow">#}
{#                    <div class="card-header">#}
{#                        <img src="{{ object.preview|media_path }}" class="img-fluid" alt="IMAGE" width="350px"#}
{#                             height="350px">#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <p>{{ object.title }}</p>#}
{#                        <p>{{ object.content|truncatechars:100 }}</p>#}
{#                        <p>{{ object.created_at|date:'d-m-Y' }}</p>#}
{#                        <p>{{ object.is_published }}</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#{% endblock %}#}