{% extends 'catalog/blogpost_list.html' %}
{% load my_tags %}
{% block content %}
    {% for object in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <img src="{{ object.preview|media_path }}" class="img-fluid" alt="IMAGE" width="350px"
                             height="350px">
                    </div>
                    <div class="card-body">
                        <p>{{ object.title }}</p>
                        <p>{{ object.content|truncatechars:100 }}</p>
                        <p>{{ object.created_at|date:'d-m-Y' }}</p>
                        <p>{{ object.is_published }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}