{% load static %}
{% load my_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

{% include 'catalog/includes/inc_homepage.html' %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4 text-capitalize">{{ title }}</h1>
</div>

<div class="container">
    <div class="row text-center">

    </div>
    <div class="row">
        <div class="col-sm-6 text-info">
            <h5 class="card-title text-uppercase text-center">Все рассылки</h5>
            <p class="text-center text-dark">{{ mailing_number }}</p>
        </div>
        <div class="col-sm-6 text-info">
            <h5 class="card-title text-uppercase text-center">Активные рассылки</h5>
            <p class="text-center text-dark">{{ mailing_number_active }}</p>
        </div>
        <div class="col-sm-6 text-info">
            <h5 class="card-title text-uppercase text-center">Клиенты</h5>
            <p class="text-center text-dark">{{ unique_clients }}</p>
        </div>
        <div class="col-sm-6 text-info">
            <h5 class="card-title text-uppercase text-center">Статьи</h5>
            {% for i in blogpost %}
            <p class="text-center text-dark">{{ i }}</p>
            {% endfor %}
        </div>
    </div>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                {{ title }}
                <small class="d-block mb-3 text-muted">&copy; 2023</small>
            </div>

            <div class="col-6 col-md">

            </div>
        </div>
    </footer>
</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>