{% extends 'catalog/homepage.html' %}
{% load my_tags %}
{% block content %}
    <div class="col-12 mb-5">
        {% if user.is_authenticated %}
            <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить товар</a>
        {% endif %}
    </div>
    {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <img src="{{ object.image|media_path }}" class="img-fluid" alt="IMAGE" width="350px"
                         height="350px">
                </div>
                <div class="card-body">
                    <p>{{ object.product_name }}</p>
                    <p>{{ object.description|truncatechars:100 }}</p>
                    <p>{{ object.price }} рублей</p>
                    <p>{{ object.user }}</p>
                </div>
                <div class="btn-group-center">
                    {% if user.is_authenticated %}
                        <a href="{% url 'catalog:update_product' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-success">Edit</a>
                        <a href="{% url 'catalog:detail_product' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-success">View</a>
                        <a href="{% url 'catalog:delete_product' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}